{% extends "base.html" %}

{% block notes %}

<div class="Notes">
<ul class="list-group scroll">
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-primary">Элемент основной группы списков</li>
  <li class="list-group-item list-group-item-secondary">Дополнительный элемент группы списков</li>
  <li class="list-group-item list-group-item-success">Элемент группы списка успешных действий</li>
  <li class="list-group-item list-group-item-danger">Элемент группы списка опасности</li>
  <li class="list-group-item list-group-item-warning">Элемент группы списка предупреждений</li>
  <li class="list-group-item list-group-item-info">Элемент группы списка информации</li>
  <li class="list-group-item list-group-item-light">Элемент группы с легким списком</li>
  <li class="list-group-item list-group-item-dark">Элемент группы темных списков</li>
</ul>
</div>

{% endblock %}
